{% extends "base.html" %}
{% block site_wrapper %}
       <h1 class="head_title"> Частые вопросы</h1>
    <h2>Что такое аудит для сайта?</h2><br>

    Аудит сайта – это комплексное исследования сайта, его анализ, в результате которого делаются выводы и предложения относительно последующего развития. В ходе аудита мы выявляем положительные и отрицательные моменты в развитии сайта.<br><br>

    <h2>Какие гарантии? А если мне не понравится аудит?</h2><br>
    Мы гарантируем, что вы получите качественный аудит вашего сайта. Выполнение наших рекомендаций в большинстве случаев решают поставленные задачи. Однако 100% гарантии улучшения показателей сайта рекомендации дать не могут. В конце концов, аудит - это
    письменная консультация по вашему сайту.<br><br>

    В любом случае, в течении двух недель после получения аудита вам доступна онлайн-консультация через e-mail c нашими специалистами, где вы сможете задать те вопросы, которые, на ваш взгляд, не были освещены в аудите. Онлайн-консультация не
    доступна для пакета "Экспресс".<br><br>

    <h2>Что я получу?</h2><br>
    Вы получите собственно аудит с суммарным объемом до 50 страниц, который раскроет все моменты оптимизации сайта, включая внутренние, внешние и поведенческие факторы.<br><br>

    <h2>А скидки есть?</h2><br>
    Да, начиная со второго заказа, вы получаете скидку на 10% на все последующие аудиты.<br><br>

    <h2>Где можно прослеживать статус аудита?</h2><br>
    В Личном Кабинете. Доступ в Личный Кабинет вы автоматически получаете после заполнения мини-анкеты выбранного пакета. Из Личного Кабинета можно будет следить за статусом выполнения заказа, а так же там будут храниться все ваши старые заказы.<br><br>

    <h2>Как оплатить аудит?</h2><br>
    Мы принимаем WebMoney, Яндекс.Деньги, а так же безналичный расчет.<br><br>

    <h2>У меня есть еще вопросы!</h2><br>
    Все вопросы, связанные с сервисом "Купи Аудит", а так же c самой предлагаемой услугой, Вы можете задать, написав на e-mail нашего агенства - info@yula-group.ru

{% endblock %}