{% extends "base.html" %}
{% block site_wrapper %}
{% load main_tags %}
	<div class="content_text">
        Сайт не выходит в ТОП? Хотите увеличить продажи с сайта? Резко упали позиции в выдаче? Хотите чтобы ваш сайт стабильно увеличивал посещаемость?<br><br>

        Наши рекомендации помогут вам выявить все проблемные факторы и сделать идеальный ресурс как в глазах поисковых систем, так и посетителей сайта.<br><br>

        Выберите подходящий для вас пакет аудита и доверьте работу специалистам!
	</div>
	{% for pocket in pockets %}
		{% if forloop.counter|div:2 == 0 %}
		<div class="index_pocket alignright grad_round_white">
		{% else %}
		<div class="index_pocket alignleft grad_round_white">
		{% endif %}
			<div class="title gradient_yelow">
				<i class="left"></i><i class="right"></i>
				<a href="{{ pocket.slug }}">{{ pocket.name }}</a>
			</div>
			<div class="content_pocket">
			    <a href="{{ pocket.slug }}"><img src="{{ pocket.image.url }}" alt="{{ pocket.name }}" title="{{ pocket.name }}"></a>
			    <div class="dscr">{{ pocket.mini_description|safe }}</div>
			    <p class="link"><a href="{{ pocket.slug }}">Подробнее</a></p>
			</div>
	    </div>
	{% endfor %}
{% endblock %}
