{% extends "base.html" %}
{% block site_wrapper %}
        <h1 class="head_title">Стоимость</h1>
    Стоимость аудита строго индивидуальна и зависит от таких факторов, как структура, количества страниц и "проблемность" клиентского сайта. Точную стоимость аудита мы сможем назвать после заполнения мини-анкеты.<br><br>
    Минимальная стоимость аудита также зависит от типа пакета.<br><br>

    Пакет "Стандарт" - от 6000 руб.<br><br>

    Пакет "Базовый" - от 5000 руб.<br><br>

    Пакет "Экспресс" - от 2500 руб.<br><br>

    Пакет "Блоговый" - от 5000 руб.
{% endblock %}