{% extends "base.html" %}
{% block site_wrapper %}
	<h1 class="head_title">Оформление заказа</h1>
	<div class="grad_round_white cabinet">
		<div class="title gradient_yelow">
			<i class="left"></i><i class="right"></i>
			{{ pocket.name }}
		</div>
		<div class="content_pocket clearfix">
	   		 {{ pocket.mini_description|safe }}
   			 {{ pocket.description|safe }}
			<div class="clr"></div>   
	    </div>
	</div>

    {% if request.user.is_authenticated %}
    <form class="form1 clearfix" method="post" action="">
        {% csrf_token %}
      <label for="site">Адрес сайта*:</label>
        {{ form.domen }}

      <label for="contacts">Телефон или Skype*:</label>
        {{ form.contacts }}

      <label for="keywords">Приоритетные ключевые запросы:</label>
        {{ form.keywords }}

      <label for="reason">Причины, по которым вы заказываете аудит:</label>
        {{ form.reason }}

      <label for="comment">Дополнительные подробности:</label>
        {{ form.comment }}

      <button class="myButton">Подтвердить</button>
    </form>
    {% else %}
    <form class="form1 clearfix" method="post" action="">
        {% csrf_token %}
        
      <label for="name">Имя*:{{ form.name.errors }}</label>
        {{ form.name }}

      <label for="email">Email*:{{ form.email.errors }}</label>
        {{ form.email }}

      <label for="site">Адрес сайта*:{{ form.domen.errors }}</label>
        {{ form.domen }}

      <label for="contacts">Телефон или Skype*:{{ form.contacts.errors }}</label>
        {{ form.contacts }}

      <label for="keywords">Приоритетные ключевые запросы:{{ form.keywords.errors }}</label>
        {{ form.keywords }}

      <label for="reason">Причины, по которым вы заказываете аудит:{{ form.reason.errors }}</label>
        {{ form.reason }}

      <label for="comment">Дополнительные подробности:{{ form.comment.errors }}</label>
        {{ form.comment }}

      <button class="myButton">Подтвердить</button>
    </form>
    {% endif %}
    * - Обязательно для заполнения.

{% endblock %}

