{% extends "base.html" %}
{% load cabinet_tags %}
{% block site_wrapper %}
    <a href="/cabinet/logout">Выйти</a>
    <p>Добро пожаловать, {{ user.first_name }}!</p>
	
	<div class="grad_round_white cabinet">
		<div class="title gradient_yelow">
			<i class="left"></i><i class="right"></i>
			Заказ выполняется:
		</div>
		<div class="content_pocket clearfix">
			<table width="100%" cellpadding="0" cellspacing="0" border="0">
			    {% for order in processed_orders %}
			    	 <tr>
						<td style="padding: 5px 0">  
					    	<img class="alignleft" src="{{ order.pocket.image.url }}" alt="{{ order.pocket.name }}" title="{{ order.pocket.name }}">
					    </td>
					    <td>
					    	<div class="alignleft name">
						        <a href="{{ order.pocket.slug }}">{{ order.pocket.name }}</a> для <a href="{{ order.domen }}">{{ order.domen|cut_http }}</a>
					        </div>
					    </td>
					    <td>
					        <div class="alignright date">
						        Дата заказа: 19.08.2011
					        </div>
					    </td>
					</tr>
			    {% endfor %}
			</table>
	    </div>
	</div>
	
	<div class="grad_round_white cabinet">
	    <div class="title gradient_yelow">
			<i class="left"></i><i class="right"></i>
			Выполненные заказы:
		</div>
		<div class="content_pocket clearfix">
			<table width="100%" cellpadding="0" cellspacing="0" border="0">
			    {% for order in completed_orders %}
			  		<tr>
						<td style="padding: 5px 0">   		
					    	<img class="alignleft" src="{{ order.pocket.image.url }}" alt="{{ order.pocket.name }}" title="{{ order.pocket.name }}">
					    </td>
					    <td>
					    	<div class="alignleft name">
						        <a href="{{ order.pocket.slug }}">{{ order.pocket.name }}</a> для <a href="{{ order.domen }}">{{ order.domen|cut_http }}</a>
					        </div>
					  	</td>
					    <td>
					        <div class="alignright date">
						        Дата заказа: 19.08.2011
					        </div>
					  	</td>
					</tr>
			    {% endfor %}
			</table>
		 </div>
    </div>
    
    <div class="grad_round_white cabinet">
    	<div class="title gradient_yelow">
			<i class="left"></i><i class="right"></i>
			Все пакеты:
		</div>  
		<div class="content_pocket clearfix">
			<table width="100%" cellpadding="0" cellspacing="0" border="0">
			    {% for pocket in pockets %}
				    <tr>
						<td style="padding: 5px 0">  	
					        <img class="alignleft" src="{{ pocket.image.url }}" alt="{{ pocket.name }}" title="{{ pocket.name }}">
					    </td>
					    <td>
					    	<div class="alignleft name">
						        <a href="{{ pocket.slug }}">{{ pocket.name }}</a>
					        </div>
					   	</td>
					    <td>
					        <div class="alignright date">
						        Дата заказа: 19.08.2011
					        </div>
					    </td>
					</tr>
			    {% endfor %}
			</table>
		</div>
    </div>
{% endblock %}