{% load cabinet_tags %}
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{% block title %}{{ page_title }}{% endblock %}</title>
<meta name="description" content="{{ meta_description|striptags }}">
<meta name="keywords" content="{{ meta_keywords }}">
<meta name="author" content="humans.txt">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/static/res/img/briefcase-plus-icon.png">
<link rel="stylesheet" href="res/css/style.css">
<link rel="stylesheet" href="{{ STATIC_URL }}res/css/style.css" type="text/css" media="screen" />
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="res/js/jquery.min.js"></script>
<script type="text/javascript" src="res/js/functions.js"></script>
</head>
<body>
	<!--[if IE]>
	  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!--[if lt IE 7 ]>
		<script src="res/js/dd_belatedpng.js"></script>
		<script>DD_belatedPNG.fix("img, .png_bg");</script>
	<![endif]-->
	<div id="wrapper">
		<header class="clearfix">
			<div id="logo" class="alignleft">
				<a href="/"><img src="{{ STATIC_URL }}res/img/logo.png"/></a>	
			</div>
            {% greeting request %}	
		</header>
		
		<div id="main" class="clearfix">
			<div id="sidebar" class="alignleft">
				{% include "tags/menu.html" %}
			</div>
			<div id="content" class="alignright">
	        	{% block site_wrapper %}
	        	{% endblock %}
	        </div>
	        <div class="clr"></div>
	        <footer>
				<div class="footer">
					<div class="contacts alignleft">
						(843) 000 00 00<br>
						mail@mail.ru
					</div>
					<div class="copy alignright">
						&copy; Разработка "<a href="http://yula-group.ru">Юла Group</a>"	
					</div>
				</div>
			</footer>
	    </div>
		
	</div>
</body>
</html>